/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.gallery-input {
  width: 252px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-family: 'Montserrat', sans-serif;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.gallery-input:hover {
  border: 1px solid #000;
}

.gallery-input:active {
  border: 1px solid #4e75ff;
}

.button {
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: transparent;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: 1134px;
  margin: auto;
}

.gallery-list {
  width: 360px;
  height: 200px;
  border: 1px solid #000;
}

.gallery-list-text {
  display: flex;
  gap: 28px;
  justify-content: center;
}

.gallery-list-stat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.image {
  height: 150px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  vertical-align: middle;
}

.loader {
  text-align: center;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid #ff3d00;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: block;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

.load-more-loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: block;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.load-more-loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.hiden {
  display: none;
}

.load-more-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: transparent;
}

.is-hidden {
  display: none;
}